.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 10px;
}

.hero-container {
  background-color: #a0a0a0;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
}

.bullets-section {
  width: 100vw;
  justify-content: center;
}

.catches-section {
  width: 100vw;
  margin-bottom: 50px;
}

.footer-section {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (min-width: 600px) {
  .hero-container {
    /* flex-direction: row; */
    height: 650px;
  }

  .form-section {
    height: 100%;
    width: 50vw;
  }

  .catches-section {
    margin-bottom: 0;
  }

  .footer-section {
    position: fixed;
  }

  .bullets-section {
    height: 100%;
    /* width: 50vw; */
  }
}
