.main-container {
  display: flex;
  flex-direction: column;
}

.hero-container {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100vw;
}

.bullets-section {
  width: 100vw;
  justify-content: center;
}

.form-section {
  width: 100vw;
}

.catches-section {
  margin-top: 5px;
}

@media (min-width: 600px) {
  .hero-container {
    flex-direction: row;
  }

  .form-section {
    height: 100%;
    width: 50vw;
  }

  .bullets-section {
    height: 100%;

    width: 50vw;
  }
}
