.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 10px;
}

.hero-container {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
}

.bullets-section {
  width: 100vw;
  justify-content: center;
}

.form-section {
  width: 100vw;
  height: 100%;
}

.catches-section {
  width: 100vw;
  /* height: 100%; */
  /* margin-top: 5px; */
  margin-bottom: 50px;
}

.footer-section {
  margin-top: 10px;
  width: 100vw;
  /* height: 100%; */
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (min-width: 600px) {
  .hero-container {
    flex-direction: row;
    height: 500px;
  }

  .form-section {
    height: 100%;
    width: 50vw;
  }

  .bullets-section {
    height: 100%;

    width: 50vw;
  }
}
