.bullets-container {
  height: 100%;
  /* background-image: url("../../assets/wind.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.bullet-points {
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
}

.wind-bullet {
  color: blue;
}

.modal-button {
  margin-right: 10px;
  margin-left: 10px;
}

@media (min-width: 600px) {
  .bullet-points {
    margin-right: 200px;
    margin-left: 200px;
  }
}
