.form-container {
  background-color: #a0a0a0;
  display: flex;
  flex-direction: column;
  border: 1px solid #800b0b;
}

.form-header {
  color: #800b0b;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.row {
  justify-content: start;
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .form-container {
    margin-right: 25px;
    align-items: center;
  }
}
