.form-container {
  background-color: #a0a0a0;
  display: flex;
  flex-direction: column;
  border: 1px solid #800b0b;
  height: 100%;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-header {
  display: flex;
  justify-content: center;
  color: #800b0b;
  margin-top: 10px;
  margin-bottom: 20px;
}

.row-group1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-row {
  justify-content: center;
  margin-bottom: 20px;
  margin: 0 10px;
}

.row {
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 10px;
  margin: 0 10px 20px 10px;
}

@media (min-width: 600px) {
  .form-container {
    align-items: center;
  }
}
